<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./static/stylesheets/style.css" type="text/css">
  </head>
  <body>
    <%- include('nav'); -%>
    <div class="main-container">
      
        <div class="artist-container">
          <h1>Artists</h1>
          <form class="list-header" action="/artist" method="post">
            <input class="eventInput" type="text" name="name" placeholder="Name">
            <button type="submit" disabled style="display: none;" aria-hidden="true"></button>
            <button type="submit" name="button" class="submitButton">submit</button>
          </form>
          <div class="all-artists">
            <% artist.forEach(details => { %>
              <ul class="listEntry">
                <li class="name"><%= details.name %><br /></li>
                <a href="/artist/edit/<%= details._id %>" class="edit">edit /</a><a href="/artist/remove/<%= details._id %>" class="remove"> remove</a>
              </ul>
            <% }) %>
          </div>
        </div>
    </div>
  </body>
</html>
